<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Edit Product (<%= product.name %>)</h3>
                </div>
            </div>
            <div class="card-body p-4">
                <form action="/update/<%= product._id %>" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter Name" value="<%= product
                        .name %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="buyPrice">Buy Price</label>
                        <input type="number" name="buyPrice" class="form-control form-control-lg" placeholder="Input Buy Price" value="<%= product
                        .buyPrice %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="sellPrice">Sell Price</label>
                        <input type="number" name="sellPrice" class="form-control form-control-lg" placeholder="Input Sell Price" value="<%= product
                        .sellPrice %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="stock">Stock</label>
                        <input type="number" name="stock" class="form-control form-control-lg" placeholder="Input Stock" value="<%= product
                        .stock %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Select Image</label>
                        <input type="file" name="image" class="form-control form-control-lg">   
                        <img src="/<%= product.imageProduct %>" width="100" class="img-thumbnail mt-1">
                    </div>
                    <input type="hidden" name="old_image" value="<%= product.imageProduct %>">
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Update Product" class="btn btn-success btn-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>
